{% form_theme carForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
   <div class="container mt-3 text-center">
      <h2 class="text-primary">Add car</h2>
         {{ form_start (carForm) }}   
         {{ form_end (carForm) }}
   </div>
{% endblock %}