{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
       <table class="table table-striped">
         <thead>
            <tr>
               <th>Job ID</th>
               <th>Job Name</th>

               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
            {% for job in jobs %}
               <tr>
                  <td>{{ job.id }}</td>
                  <td>{{ job.JobName }}</td>
                  <td>
                     <a class="btn btn-primary" href="{{ path ('view_job', {'id' : job.id }) }}">
                     DETAIL
                     </a>
                     <a class="btn btn-danger" href="{{ path ('delete_job_by_id', {'id' : job.id }) }}">
                     DELETE
                     </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}