{% extends "base.html.twig" %}

{% block body %}
   <h1>Add Task successfully !</h1>
   <h3>Title: {{ title }} </h3>
   <h3>Content: {{ content }} </h3>
   <h3>DueDate: {{ duedate | date("d/m/Y") }} </h3>
{% endblock %}
