{% form_theme personForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
   <div class="container-md mt-3 text-center">
      <h2 class="text-secondary">Add Person</h2>
      {{ form (personForm) }}
   </div>
{% endblock %}